.navbar {
    background-color: #3f51b5; 
    display: flex;
    justify-content: center;
    top: -20%;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.navbar li{
    display: inline-block;
        margin: 20px;
        
}

.navbar a {
    text-decoration: none;
        color: black;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active
 {
    /*text-decoration: underline;*/
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 20%;
}

.logout{
    left: 21%;
    position: relative;
    font-weight: bold;

}

.textProfile {
    left: 17%;
    position: relative;
    font-weight: bold;
}

.logo{
  width: 20%;
  right: 40%;
  position: relative; 
  height: 70px;

}

.searchText{
    width: 50%;
    position: relative;
    left: 60%;
}