.navbar {
    background-color: #3f51b5; 
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.navbar li{
    display: inline-block;
        margin: 20px;
}

.navbar a {
    text-decoration: none;
        color: black;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active
 {
    /*text-decoration: underline;*/
    background-color: whitesmoke;
    font-weight: bold;
    border-radius: 20%;
}
