.navbar {
    background-color: #3f51b5; 
    display: flex;
    justify-content: center;
    top: -20%;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align:center;
}

.navbar li{
    display: inline-block;
        margin: 20px;
        
}

.navbar a {
    text-decoration: none;
        color: white;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active
 {
    /*text-decoration: underline;*/
    background-color: rgb(7, 28, 122);
    color: white;
    font-weight: bold;
    border-radius: 20%;
}

.logout{
    right: 55%;
    position: relative;
    font-weight: bold;

}

.textProfile {
    right: 15%;
    position: relative;
    font-weight: bold;
}

.logo{
    width: 40%;
    right: 100%;
    position: relative;
    height: 90px;

}

.searchText{
    width: 80%;
    position: relative;
    left: 100%;
}

.headerContents{
    left: 90%;
    position: relative;

}

.ListContents{
    position: relative;
    width: 297%;
    right: 50%;
}



.pdf{
    width:595px;
    height: 485px;
    overflow: hidden;
    margin: 0;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    max-width: 100%;

      /* frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" */
}

.picContent{
    width: 40%;
    height: 230px;
    left: 8%;
    position: relative;
    margin-top: -10%;
}

.sliderContent .slick-dots li button{
    right: 800%;
    position: relative;
}

.contentStyle{
    display: inline-block;
    border: 2px solid #eee;
    box-shadow: 4px 4px 4px 4px #333;
    margin: 10px;
    padding: 10px;
    border-radius: 13%;
}

