.UserBody{
direction: rtl;
width: 95%;
}


td {
    direction: rtl;
    height: 100%;
    width:100%;
    background-color:#80421e6c;
}

.popup {
    position: fixed;
    width: 50%;
    height: 70%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5) !important;
  }
  .popup_inner {
    position: relative;
    width: 90%;
    height: 80%;
    top: 10%;
    margin: auto;
    border: 5px solid #ccc;
    border-radius: 4%;
    background: white;
  }